* {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

ul {
    list-style-type: none
}

li {
    display: inline;
    padding: 8px;
    position: relative;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
}